{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "<secret>",
    "FUNCTIONS_WORKER_RUNTIME": "node",
    "CosmosDbConnectionString": "<secret>",
    "bottlzbus_SERVICEBUS": "<secret>",
    "WebPubSubConnectionString": "<secret>"
  }
}
